@charset "UTF-8";
body{text-align: center; background: #000; color:#fff; font-weight: 700;}
.intro{ display: flex; flex-direction: column; justify-content: space-between; min-height: 100%; overflow-x: hidden;}
.intro-section{ width: 100%; min-height: 500vh;}
.intro-section:nth-child(2n){ background: rebeccapurple; }
.intro-section .inner-cont{ display: flex; justify-content:space-around; align-items: end; position: fixed; bottom: 0; width: 100%; opacity: 0; background: #000; }
.intro-section .inner-cont:first-child{ opacity: 1; }
/* .intro-section .inner-cont:last-child{ z-index: 2; } */
.intro-talk{ margin: 5% 5% 30% 5%; padding:2%; border-radius: 20px; background: #fff; color:#000;}