@charset "UTF-8";
body{text-align: center; background: #000; color:#fff; font-weight: 700; transition:  background-color 1s ease-in;}
.intro{ display: flex; flex-direction: column; justify-content: space-between; min-height: 100%; overflow-x: hidden;}
.intro-section{ width: 100%; min-height: 500vh; }
.typing-wrap { position: fixed; top:5%; left:5%; z-index: 1;}
.typing-wrap .intro-txt{ display: flex; height: 96px; overflow: hidden; font-size: 80px; color:#fff; }
.typing-wrap .intro-txt .txt-ani{ margin-left: 30px; animation: wordChange 12s steps(1) infinite;}
.typing-wrap .intro-txt .words{ display: block; position: relative; text-align: left; width: fit-content; color:#4cd265; letter-spacing: 0; }
.typing-wrap .intro-txt .words::after{ content: ""; position: absolute; left:0; width: 100%; height:100%; border-left: 2px solid #4cd265; background: #000; animation: typing steps(14) 4s infinite backwards;}
/* .intro-txt .words::after{ content: ""; position: absolute; left:0; width: 100%; height:100%; border-left: 2px solid #4cd265; background: #000; animation: typing ease-in-out 4s infinite backwards;} */


.intro-section .inner-cont{ display: flex; justify-content:space-around; align-items: end; position: fixed; bottom: 0; width: 100%; opacity: 0; background: #000; }
.intro-section .inner-cont:first-child{ opacity: 1; }
.intro-section:last-child{ z-index: 2; }
.intro-section.work{ height: 500vh; color:#000; background: skyblue; }
.intro-section.work .work-txt{ padding:30% 0 20%; color:#000; background: skyblue;}
.intro-talk{ margin: 5% 5% 30% 5%; padding:2%; border-radius: 20px; background: #fff; color:#000;}

.work-wrap{ position:fixed; top:20%; display: flex; padding:80px 60px; transform: translateX(-150%);}
.work-wrap li{ transition: all ease-in-out .3s; transform: rotate(-10deg); width:400px; background: rgba(255,255,255,0.1); border-radius: 20px; box-shadow: 0 25px 25px rgba(0,0,0,0.1); overflow: hidden; }
.work-wrap li:hover{ transform: scale(1.2); z-index: 3;}
.work-wrap li img{ width: 100%; }
.work-wrap li .desc{ padding: 40px 0; }
.work-wrap li + li{ margin-left:40px; }
.work-txt{ padding: 4% 0; font-size: 3vw; color:#000;}
/* .play-1{background: violet;} */

@keyframes typing {
    0% {left:0;}
    50% {left:100%;}
    100% {left:0;}
}
@keyframes wordChange {
    0% {margin-top:0; } 
    33.3% {margin-top:-96px; } 
    66.6% {margin-top:-192px; } 
    100% {margin-top:0; } 
}


.index-wrap{display: flex; align-items: center; justify-content: space-between; padding: 30px 24px; background: #fff; min-height: 100vh; font-size: 24px;}
.index-wrap .profile{ padding-left: 36px; text-align: left;}
.index-wrap .profile .name{ margin-bottom: 40px;  }
.index-wrap .profile .sub{ display: block; margin-bottom: 8px; font-size: 16px; }
.index-wrap .index-cont{ display: flex; margin: 0 36px 0 100px; width: 70%; border: 1px solid #ccc; }
.index-wrap .index-list{ padding: 24px 24px 0 60px; margin:-40px 0 0; flex:1; }
.index-wrap .index-list + .index-list{ border-left: 1px solid #ccc; }
.index-wrap .index-cont .index-tit{ position: relative; padding: 40px 0 120px; font-size: 34px; letter-spacing: 3px; }
.index-wrap .index-cont .index-tit::after{ content: ""; display: block; position: absolute; right:-40px; width:100%; height: 4px; background: #000; }
.index-wrap .index-cont .index-desc{ margin-bottom: 20px; font-size: 16px; text-align: right; }

.nav-wrap{ display: flex; justify-content: center; align-items: center; margin: 5% auto; width: 400px; height:400px; /*background: rgba(255,255,255,0.3);*/ }
.nav-wrap .nav{ display: flex; justify-content: center; align-items: center; position: relative; width: 100px; height: 100px; background:#fff; transition: .5s; animation: squeareJump 2s 1s infinite; }
.nav-wrap .nav::after{ content: ""; position: absolute; top : 40px; right:-16px; width: 50px; height: 50px; transform: rotate(1deg); background: url(../images/icon/ico-cursor.png) no-repeat center / cover; }
.nav-wrap .nav-list{ position: absolute; width: 7px; height: 7px; background: #fff; transform: translate(calc(14px * var(--x)),calc(14px * var(--y))); transition: .5s; transition-delay: calc(0.1s * var(--i)); opacity: 0;}
.nav-wrap .nav.active .nav-list{ width: 100px; height: 100px; transform: translate(calc(110px * var(--x)),calc(110px * var(--y))); opacity: 1;}
.nav-wrap .nav.active::after{ content: none; }
.nav-wrap .close{position: absolute; width: 7px; height: 7px; transition-delay: .4s; pointer-events: none; background: #fff; transition: .5s; opacity: 0;}
.nav-wrap .nav.active + .close{ width: 100px; height: 100px; pointer-events: initial; transition-delay: .8s; opacity: 1;}

@keyframes squeareJump {
    /* 0% {margin-top:0; transform: scale(1); } 
    50% {margin-top:100px; transform: scale(1.5); } 
    100% {margin-top:0; transform: scale(1); }  */

    /* 0%   {transform: translate3d(0,0,0) scale3d(1,1,1);}
    40%  {transform: translate3d(0,30%,0) scale3d(.7,1.5,1);}
    100% {transform: translate3d(0,100%,0) scale3d(1.5,.7,1);} */

    0%   { transform: scale(1,1)      translateY(0); }
    10%  { transform: scale(1.1,.9)   translateY(0); }
    30%  { transform: scale(.9,1.1)   translateY(-100px); }
    50%  { transform: scale(1.05,.95) translateY(0); }
    57%  { transform: scale(1,1)      translateY(-7px); }
    64%  { transform: scale(1,1)      translateY(0); }
    100% { transform: scale(1,1)      translateY(0); }

}