@charset "UTF-8";
body{text-align: center; background: #000; color:#fff; font-weight: 700;}
.ani-obj{ position: fixed; width: 100%; opacity: 0; transition: all .3s ease-in-out; }
.section{ position: relative; padding: 5%; min-height: 300vh;}
/* .play-0 .sc1{ visibility: visible;}
.play-1 .sc2{ visibility: visible;} */
.section-tit{ top:25%; left:0; transform: translateY(-50%); font-size: 40px; margin-bottom: 2%; z-index: inherit; }
.section-desc{ top:30%; left:0; padding-top: 50%; transform: translateY(-50%); font-size: 32px; z-index: inherit; }
.section-img{ top:0; left:0; bottom: 0; width: 100%; height: 100%; font-size: 32px; object-fit: cover; }
.sc1{z-index: 1;}
.sc2{z-index: 2;}
.sc3{z-index: 3;}
.sc4{z-index: 4;}