*{ box-sizing: border-box; }
html, #root{ height: 100%; }
button{ cursor: pointer; }
:root{
  
}
body{
  margin: auto;
  max-width: 600px;
  overflow: hidden scroll;
  height: 100%;
}

.App{ position: relative; height: 100%; background: pink;}
.app-intro{ display: flex; flex-direction: column; justify-content: center; gap:20%; padding: 10% 16%; height: 100%; text-align: center; background: url(./images/intro_bg.gif) pink;}
.app-intro .title{ font-size: 42px; line-height: 1.4; }
.app-intro .btn-start{ width: 100%; height: 10vh; border-radius: 5vh; background: red;  }
.intro-bg__image img{ position: absolute; animation: upDown 2.5s cubic-bezier(0.785, 0.135, 0.150, 0.860) infinite alternate; }
.intro-bg__image img:nth-child(1){ animation-delay: .2s; left: 2%; top: 5%; }
.intro-bg__image img:nth-child(2){ animation-delay: .3s; left: 15%; top: 5%; }
.intro-bg__image img:nth-child(3){ animation-delay: .4s; right: 10%; top: 20%; }
.intro-bg__image img:nth-child(4){ animation-delay: .5s; left: 4%; top: 24%; }
.intro-bg__image img:nth-child(5){ animation-delay: .6s; right:2%; top: 70%; }
@keyframes jump{
    0%, 90%, 100%{
      transform: translateY(-5vh);
    }
    40%{
      transform: translateY(25vh);
    }
}
@keyframes upDown {
  0%{ transform: translateY(0); }
  50%{ transform: translateY(10px); }
  100%{ transform: translateY(-10px); }
}


.lottie-container{ display: flex; flex-direction: column; align-items: center; padding: 4% 6%; min-height: 100%; }
.lottie{ margin: 14% 0;}
.lottie.active{ animation: jump 1.5s cubic-bezier(0.785, 0.135, 0.150, 0.860) 2; transform-style: preserve-3d;}
.pet-menu-list{ display: flex; gap: 8%; padding: 4%; background: #fff; border-radius: 24px; }
.pet-menu-list li{ flex:1; }
.pet-menu-list li a{ display: flex; align-items: center; flex-direction: column; gap: 1vw;}
.pet-menu-list li img{ width: 50%; }

.heart-moving img{ position: absolute; left: 50%; top:50%; transform: translate(-50%,-50%) scale(0); transition: transform .4s cubic-bezier(0.34, 1.56, 0.64, 1); width: 100%; }
.heart-moving.active img{ transform: translate(-50%,-50%) scale(1); }
.heart-moving img:nth-child(1){ transition-delay: .05s; }
.heart-moving img:nth-child(2){ transition-delay: .1s; }
.heart-moving img:nth-child(3){ transition-delay: .15s; }
.heart-moving img:nth-child(4){ transition-delay: .2s; }
.heart-moving img:nth-child(5){ transition-delay: .25s; }


.pet-name{display: flex;}

.action-btns { display: flex; align-items: center; gap: 20px; }
.action-btns button {width: 100px; height: 100px; border-radius: 16px; background: #fff; border: none; }

footer{position: fixed; bottom: 0; padding: 30px 24px; width: 100%; max-width: 600px; background: #fff; border-radius: 30px 30px 0 0; box-shadow: inset 2px 2px 4px rgba(0,0,0,.3); }
footer ul { display: flex; }
footer li { flex:1; text-align: center; font-weight: bold; }