html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
a {
    color: inherit;
    text-decoration: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* todo */
.todo-board{padding: 5%; text-align: center;}
.todo-board__title{font-size: 4vw;}
.todo-board-box{ margin: 20px 0 60px; display: flex; gap: 10px;}
.todo-board__input{ width: 100%; height: 40px; border-radius: 4px; border: 1px solid #666; text-indent: 16px; }
.todo-board__btn{ width: 20%; }
.todo-container{display: flex; gap: 4%; font-weight: bold; }
.todo-container > section { flex:1; padding: 4%; border: 1px solid #ccc; border-radius: 16px; }
.todo-container > section h2 { font-size: 26px; text-decoration: underline; }
.todo-container button { padding: 10px; border-radius: 18px; background: #f9f9f9; border: 1px solid #ccc; }
.todo-container button + button { margin-left: 8px; }
.todo-container .btn-remove{ background: #ccc; }
.todo-item{display: flex; justify-content: space-between; margin-top: 24px; padding: 10px 0; border-bottom: 2px solid #ccc; }
.todo-item > p {line-height: 2;}
.todo-item.done{ color:#666; text-decoration: line-through; }
.empty-txt{ margin-top:20px; padding:24px; background: #eee; border-radius: 4px; }