@charset "UTF-8"; 
/* reset-md                                                 */
* {
    -webkit-text-size-adjust: none;
    letter-spacing: -0.8px;
    word-break: break-all;
    box-sizing: border-box;
    outline: none;
}

html {
    padding: 0px;
    margin: 0;
    height: 100%;
}

html, body {
    height: 100%;
    -webkit-text-size-adjust: none;
    -webkit-appearance: none;
}
html, body, div, span, object, iframe, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, h1, h2, h3, h4, h5, h6, header, footer, section, article, aside, nav, hgroup, details, figure, figcaption {
    margin: 0;
    padding: 0;
    list-style: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
button, a {
    touch-action: manipulation;
    background: transparent;
}
button, a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
}
a {
    text-decoration: none;
}
address, em, dfn {
    font-style: normal;
}
img {
    width: 100%;
    max-width: 100%;
    vertical-align: middle;
}
table {
    width: 100%;
    border-spacing: 0;
    table-layout: fixed;
    border-collapse: collapse;
    empty-cells: show;
}

tbody, tfoot, thead, tr, th, td {
    word-break: break-all;
}
caption {
    visibility: hidden;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    position: static;
    left: 0;
    top: -999999px;
}

fieldset {
    border: none;
}

legend {
    visibility: hidden;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    position: absolute;
    left: 0;
    top: -999999px;
}

button, input[type=button], input[type=submit], input[type=reset] {
    cursor: pointer;
}

input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-results-button, input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

input[type="text"] {
    -webkit-ime-mode: active;
    -moz-ime-mode: active;
    -ms-ime-mode: active;
    ime-mode: active;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
    cursor: pointer;
}

select {
    border-radius: 0;
    padding: 0;
    margin: 0;
    border: none;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: listbox;
    background-color: transparent;
}

textarea {
    resize: none;
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

input, button, select {
    vertical-align: middle;
    border: 0;
}

label {
    cursor: pointer;
}

body {
  background-color: #22254b;
}


/*movie-container*/
.movies-container{
  display: grid;
  /* grid-auto-rows: minmax(150px, auto); */
  grid-template-columns: repeat(auto-fill, minmax(150px, 20%));
  /* display: flex;
  flex-wrap: wrap; */
  padding: 60px 0;
  gap: 20px;
  justify-content: center;
}
.movies-container.main{
  display: flex;
  flex-wrap: wrap;
  margin: 60px auto;
  gap: 20px;
  padding: 0;
}

.movie-container{
  /* width: 20%; */
  background-color: #373b69;
  color: #fff;
  border-radius: 16px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

.movie-info {
  display: flex;
  padding: 20px 10px;
  gap: 6%;
  justify-content: space-between;
  
}
.movie-info h4{
  /* width: 70%; */
  display: -webkit-box;
  text-overflow: ellipsis;
  /* white-space: nowrap; */
  overflow: hidden;
  -webkit-line-clamp: 2; /* 라인수 */
  -webkit-box-orient: vertical;
  min-height:40px;
  max-height: 40px;
  
}
.movie-info span{
  min-width: 42px;
}
.movie-thumb{ padding-bottom: 150%; position: relative; }
.movie-thumb img{ position: absolute; top:0; left:0; width: 100%; height: 100%; object-fit: cover; }


/* header 시작 */
.header-container {
  position: sticky;
  top:0;
  width: 100%;
  z-index: 10;
  background-color: rgba(3,37,65,1);
}

.header-wrap {
  max-width: 1448px;
  height: 64px;
  margin: 0 auto;
  padding: 0 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-left-wrap {
  display: flex;
}

.header-left-wrap ul {
  display: flex;
  margin-left: 16px;
}

.header-left-wrap li {
  padding: 8px;
  margin-right: 14px;
}

.header-right-wrap input{
  min-width: 180px;
  height: 24px;
  border-radius: 4px;
  text-indent: 10px;
}
.header-nav-item {
  text-decoration: none;
  color: white;
  font-weight: 600;
}
/* header 끝 */

.movies-container section{ margin: 60px 0; width: 100%; overflow: hidden; color:#fff; }
.movies-header{ display: flex; justify-content: space-between; padding: 24px 40px; }
.movies-header .subject{ font-size: 24px; }
.slide-movie-container{ display: flex; gap: 2%;  }
.slide-movie-container .swiper-slide{ /*flex: 0 0 20%;*/ width: 25%; min-width: 150px; max-width: 300px; }
.recommend-movie{ padding: 10%; color: #fff; text-shadow: rgba(0, 0, 0, 0.6) 1px 1px 10px; }

footer{ padding: 4%; text-align: center; font-size: 14px; line-height: 1.7; background: #000; color:#fff;}
.movie-title{ font-size: 5vw;}
.movie-ranking{ margin: 20px 0; font-size: 2.5vw;}
.movie-overview{ margin: 20px 0; line-height: 1.7; }
.btn-movie__detail{ padding: 16px 24px; border-radius: 4px; background: #fff; }


/*swiper*/
.swiper-button-prev.swiper-button-disabled, .swiper-button-next.swiper-button-disabled{ }
[class^="swiper-button"] {
  transform: translateY(-50%);
  opacity: 0 !important;
  transition: all .2s;
  text-shadow: rgba(0, 0, 0, 0.6) 1px 1px 10px;
  color:#fff !important;
}
.swiper:hover [class^="swiper-button"]{ opacity: 1 !important;}

/*empty-container*/
.empty-container{ height: 80vh; line-height: 80vh; text-align: center; color:#fff; }
/*similarContents*/
.contents-title{ padding: 0 40px 40px; font-size: 26px; }

.recommend-similar-contents{ margin: 8% 4%; padding: 60px 0; background: #fff; border:1px solid #d8d9db; border-radius: 40px; }
.recommend-similar-contents .swiper{ padding: 1% 0; }
.recommend-similar-contents .slide-movie-item{ box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, 0.2); }

/*movie-detail*/
.movie-detail{ display: flex; padding: 4%; gap: 5%; }
.movie-detail__thumb{ min-width: 300px; max-width: 30%; }
.movie-detail__thumb img{ overflow: hidden; border-radius: 20px; box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, 0.2);}
.movie-detail__info{ padding: 4% 0; overflow: hidden; color:#fff; }
.movie-detail__info .movie-title{ padding: 2% 0; }
.movie-detail__info .movie-tagline{ display: block; font-size: 20px; }
.movie-detail__info .genre span + span::before{ content: " / ";}
.movie-detail__info .movie-sub__info{ padding-top: 4%; line-height: 2; }

.actors-container h4{ margin: 4% 0 2%; font-size: 20px;}
.actors{ display:flex; gap:16px; width: 100%; overflow-x: auto;}
.actors .actor{ min-width: 100px; max-width: 200px; }
.actors .actor-name{ display: block; margin-top: 12px; }

.btn-content__detail {display: flex; gap: 12px; margin-top: 20px;  }
.btn-content__detail button{ display: flex; justify-content: center; align-items: center; gap:8px; font-size: 20px; padding: 20px; width: 100%; max-width: 50%; background: #fff; border-radius: 4px; border: 1px solid #ccc; }
.btn-content__detail path{fill:red;}