html{font-size: 20px;}
body{font-size: 1rem;}

.skip{display: block; line-height: 1.5rem; height: 1.5rem; position: absolute; left: 0; right:0; top: -100%; background: #fff;
 text-align: center; transition: all 1s; color:#000; z-index: 100; outline:#fff;}
.skip:focus{top: 0;}

/*header*/
.header{height: 1.53rem; background: #000;}
.header h1{display: flex; height: 1.53rem;}
.header h1 a{display: block; margin:auto; font-size: .33rem; color:#fff; font-weight: bold;}
.header .btn_arrow_left,
.header .plus,
.header .btn_delete{position: absolute; top:0; width:1.5rem; height:1.53rem; }

.header .btn_arrow_left{left:.28rem; background: url(../img/btn_arrow_left.png) no-repeat left center / .38rem auto;
font-size: .33rem; color:#fff; font-weight: bold; line-height: 1.53rem; padding-left: .7rem;}
.header .plus{right:1rem; background: url(../img/ico_plus2.png) no-repeat center / .55rem auto; margin-right: .75rem;}
.header .btn_delete{right:0; background: url(../img/ico_delete.png) no-repeat center / .5rem auto;}

main .txt{position: absolute; top: 50% ; left: 50%; transform: translate(-50% , -50%); text-align: center; font-size: .45rem;}
