html{font-size: 20px;}
body{font-size: 1rem;}
main{padding: 2.16rem .91rem 0;}

.skip{display: block; line-height: 1.5rem; height: 1.5rem; position: absolute; left: 0; right:0; top: -100%; background: #000;
 text-align: center; transition: all 1s; color:#fff; z-index: 100; outline:#fff;}
.skip:focus{top: 0;}

/*join_tit*/
.join_tit p::before{content: ""; display: block; width:2.21rem; height: 2.21rem; background: url(../img/h1_logo2.png) no-repeat left / 100% auto; margin-bottom: 1.45rem;}
.join_tit p{padding-bottom: 1.08rem; font-size: .7rem; font-weight: bold; color:#2a2a2a;}
.join_tit button{position: absolute; top:.45rem; left: .91rem; width:.8rem; height: .8rem; background: url(../img/btn_close.png) no-repeat left center / .56rem auto;}
/*checkbox*/
.checkbox ul li{padding: .5rem 0; position: relative;}
.checkbox ul li:first-child{border-bottom: 2px solid #ddd;}
.checkbox ul li input{position: absolute; left:-1000%;}
.checkbox ul li label{font-size: .6rem; color:#000; font-weight: bold;}
.checkbox ul li label::before{content: ""; display: inline-block; width:.66rem; height: .66rem; background: url(../img/ico_chk.png) no-repeat left center / 100% auto; margin-right: .26rem; vertical-align: -2px;}
.checkbox input:checked + label::before {background: url(../img/ico_chk_on.png) no-repeat left center / 100% auto;}
.checkbox ul li button{position: absolute; right: 0; top:50%; width:.8rem; height: 1rem; background: url(../img/ico_arrow_right2.png) no-repeat right center / .25rem auto;}
.checkbox ul li p{text-indent: .9rem; font-size: .4rem; color:#717171;}

.next{width:100%; height: 1.93rem; margin-top:1.16rem; color:#fff; background: #d0d0d0; cursor: pointer;}
.next:focus{background: #00af66;}
